<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I MAKE TECH</title>

    {% if page.noindex or site.noindex %}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}

    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <main>
            {{ content }}
        </main>
    </div>

    <!-- Disable right click -->
    <script>
        document.addEventListener('contextmenu', function (e) {
            e.preventDefault();
            alert('Right click is disabled on this site.');
        });
    </script>
</body>

</html>